.container
  .title
    h1 {{ title }}

.container
  .row
    .col-md-12
      h3.pull-left Select sprint
      h4.pull-right.select-collapse(
        ng-click="collapseSelect()"
      )
        i.fa.fa-chevron-up(ng-if="!selectCollapsed")
        i.fa.fa-chevron-down(ng-if="selectCollapsed")

      hr(style="border-top: 1px solid black;width: 100%;color: black;height: 1px;margin: 15px 0px;")

  .row
    .collapse.in.col-md-12#selectContainer
      form.col-md-12.form-horizontal
        .form-group.col-md-12
          label.col-md-3.control-label.text-left(for="sprintCreate") Create new sprint
          .col-md-9.input-group.sprint-select
            input.form-control#sprintCreate(type="text"
            placeholder="Type sprint name here"
            ng-model="newSprintName")
            .input-group-btn
              button.btn(ng-click="newSprint(newSprintName)")
                i.fa.fa-plus


      h4.col-sm-1.sprint-or or

      form.col-md-12.form-horizontal
        .form-group.col-md-12
          label.col-md-3.control-label.text-left(for="sprintSelect") Select an existing sprint
          .col-md-9.sprint-select
            select.form-control#sprintSelect(
              type="text"
              placeholder="Select a sprint"
              ng-model="sprintName"
              ng-change="selectSprint(sprintName)"
            )
              option(
                ng-repeat="sprint in sprints"
                value="{{ sprint.name }}"
              ) {{ sprint.name }}

.container(ng-if="sprint")
  .row
    .col-md-12
      h3 Sprint: {{ sprint.name }}
      hr(style="border-top: 1px solid black;width: 100%;color: black;height: 1px;margin: 15px 0px;")
  .row
    .col-md-12
      h4 Sprint dates
    .col-md-6.form-group
      label(for="startDate") Start Date
      .input-group
        input.form-control#startDate(
          type="text"
          uib-datepicker-popup
          ng-model="sprint.startDate"
          is-open="popup1.opened"
          datepicker-options="dateOptions"
          ng-required="true"
          close-text="Close"
          alt-input-formats="altInputFormats"
          placeholder="Select start date"
        )
        span.input-group-btn
          button.btn(
            type="button"
            ng-click="open1()"
          )
            i.fa.fa-calendar

    .col-md-6.form-group
      label(for="endDate") End Date
      .input-group
        input.form-control#endDate(
        type="text"
        uib-datepicker-popup
        ng-model="sprint.endDate"
        is-open="popup2.opened"
        datepicker-options="dateOptions"
        ng-required="true"
        close-text="Close"
        alt-input-formats="altInputFormats"
        placeholder="Select end date"
        )
        span.input-group-btn
          button.btn(
          type="button"
          ng-click="open2()"
          )
            i.fa.fa-calendar

    .col-md-12
      .input-group
        button.btn(
          ng-click="updateWorkingDays()"
        ) Update staffing

    .col-md-12
      p Total working days in the sprint: {{ sprint.days.length }}

    .col-md-12
      h4 Staffing table
      table.table
        thead
          th Day
          th.staffing-names(ng-repeat="member in devTeam") {{ member.name }}
          th Total

        tbody
          tr(ng-repeat="day in sprint.days")
           td {{ day.date | dayFilter }}
           td(ng-repeat="member in devTeam")
             span(editable) 0
           td {{ getRowTotal() }}
